<ul class="navbar-nav">
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/dashboard">
      <i class="ni ni-tv-2 text-primary"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/product">
      <i class="ni ni-planet text-orange"></i>
      <span class="nav-link-text">Products</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/supplier">
      <i class="ni ni-pin-3 text-primary"></i>
      <span class="nav-link-text">Suppliers</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/client">
      <i class="ni ni-single-02 text-yellow"></i>
      <span class="nav-link-text">Clients</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/employee">
      <i class="ni ni-bullet-list-67 text-default"></i>
      <span class="nav-link-text">Employees</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/revenue">
      <i class="ni ni-key-25 text-info"></i>
      <span class="nav-link-text">Incomes</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/expense">
      <i class="ni ni-circle-08 text-pink"></i>
      <span class="nav-link-text">Expenses</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/stock">
      <i class="ni ni-delivery-fast text-blue"></i>
      <span class="nav-link-text">Wharehouses</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/category">
      <i class="ni ni-align-center text-red"></i>
      <span class="nav-link-text">Categories</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/buy">
      <i class="ni ni-basket text-green"></i>
      <span class="nav-link-text">Purchases</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/sale">
      <i class="ni ni-app text-purple"></i>
      <span class="nav-link-text">Sales</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/configuration">
      <i class="ni ni-settings text-red"></i>
      <span class="nav-link-text">Settings</span>
    </a>
  </li>
</ul>
