<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <h3 class="mb-0">Entrepots</h3>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Nom</th>
                  <th scope="col" class="sort" data-sort="budget">Statut</th>
                  <th scope="col" class="sort" data-sort="status">Details entrepot</th>
                  
             
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td scope="col" class="sort" data-sort="name">Entrepot </td>
                  <td scope="col" class="sort" data-sort="budget">Active</td>
                  <td scope="col" class="sort" data-sort="status"> </td>
                </tr>
              </tbody>
        
        </table>
    </div>
    <!-- Card footer -->
 
</div>