<div class="card">
  <!-- Card header -->
  <div class="card-header border-0">
    <h3 class="mb-0">WareHouses</h3>
  </div>
  <!-- Light table -->
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Name</th>
          <th scope="col" class="sort" data-sort="budget">Status</th>
          <th scope="col" class="sort" data-sort="status">Details</th>
        </tr>
      </thead>
      <tbody class="list">
        <tr *ngFor="let s of stock$">
          <td scope="col" class="sort" data-sort="name">{{ s.name }}</td>
          <td scope="col" class="sort" data-sort="budget">{{ s.status }}</td>
          <td scope="col" class="sort" data-sort="status">{{ s.details }}</td>
        </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Name</th>
          <th scope="col" class="sort" data-sort="budget">Status</th>
          <th scope="col" class="sort" data-sort="status">Details</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- Card footer -->
</div>
