<nav *ngIf="!hasRoute('login')"
    class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img width="70" height="70" src="assets/img/logo.png" style="max-height: 80px;" class="navbar-brand-img"
                    alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <app-navigation></app-navigation>

            </div>
        </div>
    </div>
</nav>