<div class="card">
  <!-- Card header -->
  <div class="card-header border-0">
    <h3 class="mb-0">Produits</h3>
  </div>
  <!-- Light table -->
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Nom</th>
          <th scope="col" class="sort" data-sort="budget">Categorie</th>
          <th scope="col" class="sort" data-sort="status">Fournisseur</th>
          <th scope="col">Prix</th>
          <th scope="col" class="sort" data-sort="completion">Quantité</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="list">
        <tr>
          <td scope="col" class="sort" data-sort="name">IPhone 6s</td>
          <td scope="col" class="sort" data-sort="budget">électroménager</td>
          <td scope="col" class="sort" data-sort="status">RodeoAwards</td>
          <td scope="col">2330$</td>
          <td scope="col" class="sort" data-sort="completion">5</td>
          <td>
            <button type="button" data-toggle="modal" data-target="#editProduct" class="btn btn-warning btn-sm"><i
                class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm" onClick={deleteTask}><i
                class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Nom</th>
          <th scope="col" class="sort" data-sort="budget">Categorie</th>
          <th scope="col" class="sort" data-sort="status">Fournisseur</th>
          <th scope="col">Prix</th>
          <th scope="col" class="sort" data-sort="completion">Quantité</th>
          <th scope="col">Actions</th>
        </tr>
      </tfoot>
    </table>
    <button data-toggle="modal" data-target="#addProduct" type="button" class="btn btn-success btn-sm">Ajouter</button>

    <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-add-product></app-add-product>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-edit-product></app-edit-product>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="viewProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-view-product></app-view-product>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card footer -->

</div>