<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"><label for="employee_fname" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Nom de l'employé
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <input [(ngModel)]="model.employee_fname" value="{{model.employee_fname}}" type="text"
                        name="employee_fname" id="employee_fname" placeholder="Nom de l'employé" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="employee_email" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Email
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <input type="email" name="employee_email" id="employee_email" [(ngModel)]="model.employee_email"
                        value="{{model.employee_email}}" placeholder="Courriel des employés" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="employee_phone" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Téléphone de l'employé
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <input type="tel" name="employee_phone" id="employee_phone" [(ngModel)]="model.employee_phone"
                        value="{{model.employee_phone}}" placeholder="Téléphone de l'employé" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="employee_gender" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Le sexe
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <select type="text" name="employee_gender" id="employee_gender" [(ngModel)]="model.employee_gender"
                        class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez le sexe</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Masculin</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Femme</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="employee_nid" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            carte d'identité
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <input type="text" name="employee_nid" id="employee_nid" placeholder="NID"
                        [(ngModel)]="model.employee_nid" value="{{model.employee_nid}}" class="form-control">
                    <!---->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label for="status_id" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Statut
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <select [(ngModel)]="model.status_id" type="text" id="status_id" name="status_id"
                        class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez le statut</font>
                            </font>
                        </option>
                        <option value="0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Inactif</font>
                            </font>
                        </option>
                        <option value="1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">actif</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="employee_birthday" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Date de naissance
                        </font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <input [(ngModel)]="model.employee_birthday" value="{{model.employee_birthday}}" type="date"
                        name="employee_birthday" id="employee_birthday" placeholder="AAAA-MM-JJ" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="employee_address" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Adresse de l'employé
                        </font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <textarea id="employee_address" name="employee_address" rows="3"
                        [(ngModel)]="model.employee_address" value="{{model.employee_address}}" placeholder="Entrer ..."
                        class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group"><label for="employee_salary" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Un salaire
                        </font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <input type="number" step="any" name="employee_salary" id="employee_salary"
                        [(ngModel)]="model.employee_salary" value="{{model.employee_salary}}" placeholder="Un salaire"
                        class="form-control">
                    <!---->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4"><button (click)="edit()" type="button" class="btn btn-info">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">sauver</font>
                        </font>
                    </button></div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</form>