<form method="POST" enctype="multipart/form-data" class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"><label for="product_name" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Nom du produit
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="text" name="product_name" id="product_name"
                        placeholder="Nom du produit" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="category_id" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Nom de catégorie
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><select type="text" id="category_id" name="category_id"
                        class="form-control category_id">
                        <option value="0" selected="selected">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Choisir une catégorie</font>
                            </font>
                        </option>
                        <option value="71">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">12</font>
                            </font>
                        </option>
                        <option value="72">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">dssdsdsd</font>
                            </font>
                        </option>
                        <option value="73">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Avance sur salaire</font>
                            </font>
                        </option>
                        <option value="74">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">k</font>
                            </font>
                        </option>
                        <option value="75">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">médicament</font>
                            </font>
                        </option>
                        <option value="76">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Rakhi</font>
                            </font>
                        </option>
                        <option value="77">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">mobiles</font>
                            </font>
                        </option>
                        <option value="78">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Viande</font>
                            </font>
                        </option>
                        <option value="79">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">sous-chat</font>
                            </font>
                        </option>
                        <option value="80">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">k</font>
                            </font>
                        </option>
                        <option value="81">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">foule</font>
                            </font>
                        </option>
                        <option value="82">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">الاحبار</font>
                            </font>
                        </option>
                        <option value="83">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">مواد كيميائية</font>
                            </font>
                        </option>
                        <option value="84">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Encres</font>
                            </font>
                        </option>
                        <option value="85">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Logiciel</font>
                            </font>
                        </option>
                        <option value="86">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Logiciel</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <!---->
            <div class="form-group"><label for="supplier_id" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Nom du fournisseur
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><select name="supplier_id" id="supplier_id" class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez un fournisseur</font>
                            </font>
                        </option>
                        <option value="51">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Chandra</font>
                            </font>
                        </option>
                        <option value="52">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Gulabi Goat Farm Islamabad</font>
                            </font>
                        </option>
                        <option value="54">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">sg</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="product_unit" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Unité de produit
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="number" name="product_unit" id="product_unit"
                        placeholder="Unité de produit" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="product_alertquantity" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Quantité d'alerte
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="number" name="product_alertquantity" id="product_alertquantity"
                        placeholder="Alerte produit" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="product_supplierPrice" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Coût du produit
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="number" min="0" max="10000000" step="any"
                        name="product_supplierPrice" id="product_supplierPrice" placeholder="Prix ​​de revient"
                        class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="product_image" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Image du produit
                        </font>
                    </font>
                </label>
                <div class="col-sm-8">
                    <div><input type="file" accept="image/*" name="product_image"></div>
                    <!---->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label for="product_sellPrice" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Prix ​​du produit
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="number" min="0" max="10000000" step="any" name="product_sellPrice"
                        id="product_sellPrice" placeholder="Prix ​​de vente" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="product_code" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Code
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><input type="text" name="product_code" id="product_code"
                        placeholder="Code produit" class="form-control"></div>
                <!---->
            </div>
            <div class="form-group"><label for="product_tax" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Taux d'imposition
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><input type="number" min="0" max="100" step="any" name="product_tax"
                        id="product_tax" placeholder="Taux d'imposition" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="warehouse_id" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Entrepôt
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><select type="text" name="warehouse_id" id="warehouse_id" class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez la maison</font>
                            </font>
                        </option>
                        <option value="3">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">rem</font>
                            </font>
                        </option>
                        <option value="4">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">aut</font>
                            </font>
                        </option>
                        <option value="5">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">ipsam</font>
                            </font>
                        </option>
                        <option value="17">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Entrepôt Bur Dubai</font>
                            </font>
                        </option>
                        <option value="18">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Badami Bagh</font>
                            </font>
                        </option>
                        <option value="19">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ramallah</font>
                            </font>
                        </option>
                        <option value="21">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Gulabi Goat Farm Islamabad</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="product_details" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            détails du produit
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><textarea id="product_details" name="product_details" rows="3"
                        placeholder="Entrer ..." class="form-control"></textarea></div>
            </div>
            <div class="form-group"><label for="product_detailsforinvoice" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Détails de la facture
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><textarea id="product_detailsforinvoice" name="product_detailsforinvoice" rows="3"
                        placeholder="Entrer ..." class="form-control"></textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4"><button type="submit" class="btn btn-info">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">sauver</font>
                        </font>
                    </button></div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</form>