<div class="row">
    <div>
        <div class="col-sm-8">
            <h4><strong>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Image du produit</font>
                    </font>
                </strong></h4> <img src="http://inventory.wardan.biz/images/products/default.jpg" class="thumbnail"
                style="width: 150px; height: auto;">
        </div>
        <div>
            <h4><strong>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Code à barre</font>
                    </font>
                </strong></h4> <img src="http://inventory.wardan.biz/images/products/barcode.png" class="thumbnail"
                style="width: 150px; height: auto;">
        </div>
    </div>
    <div>
        <div class="col-sm-6">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nom:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> Proyecto 1
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nom de la catégorie:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> mobiles
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nom de la sous-catégorie:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> iphonesss
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nom du fournisseur:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> chandra
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Quantité en stock:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> 1
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Quantité d'alerte:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> 0
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Coût du produit:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> 12.00
                                </font>
                            </font>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Prix ​​du produit:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> 14.00
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Taux d'imposition :</font>
                                </font>
                            </strong></td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Ware House:</font>
                                </font>
                            </strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> Ramallah
                                </font>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Détails du produit :</font>
                                </font>
                            </strong></td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Détails de la facture:</font>
                                </font>
                            </strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>