<div class="card">
  <!-- Card header -->
  <div class="card-header border-0">
    <h3 class="mb-0">Employees</h3>
  </div>
  <!-- Light table -->
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Name</th>
          <th scope="col" class="sort" data-sort="budget">Email</th>
          <th scope="col" class="sort" data-sort="status">Phone</th>
          <th scope="col">Address</th>
          <th scope="col" class="sort" data-sort="completion">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="list">
        <tr *ngFor="let e of employees$">
          <td scope="col" class="sort" data-sort="name">
            {{ e.name }}
          </td>
          <td scope="col" class="sort" data-sort="budget">
            {{ e.email }}
          </td>
          <td scope="col" class="sort" data-sort="status">
            {{ e.phone }}
          </td>
          <td scope="col">{{ e.address }}</td>
          <td scope="col" class="sort" data-sort="completion">
            {{ e.status }}
          </td>

          <td>
            <!--
            <button
              type="button"
              (click)="edit(e.id)"
              data-toggle="modal"
              data-target="#editEmployee"
              class="btn btn-warning btn-sm"
            >
              <i class="fas fa-edit"></i>
            </button>-->
            <button
              type="button"
              (click)="delete(e.id)"
              class="btn btn-danger btn-sm"
              onClick="{deleteTask}"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Name</th>
          <th scope="col" class="sort" data-sort="budget">Email</th>
          <th scope="col" class="sort" data-sort="status">Phone</th>
          <th scope="col">Address</th>
          <th scope="col" class="sort" data-sort="completion">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </tfoot>
    </table>
    <button
      type="button"
      data-toggle="modal"
      data-target="#addEmployee"
      class="btn btn-success btn-sm"
    >
      <i class="fas fa-plus-circle"></i> Ajouter
    </button>
    <app-modal-employee></app-modal-employee>
  </div>
  <!-- Card footer -->
</div>
