<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"><label for="income_paymentDate" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Date de paiement
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div> <input type="date"
                            name="income_paymentDate" id="income_paymentDate" placeholder="AAAA-MM-JJ"
                            class="form-control">
                    </div>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="customer_id" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Nom du client
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><select id="customer_id" name="customer_id" class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez un client</font>
                            </font>
                        </option>
                        <option value="10">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ashley Hermann</font>
                            </font>
                        </option>
                        <option value="11">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ryann Breitenberg</font>
                            </font>
                        </option>
                        <option value="12">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Prof. Lottie Kautzer I</font>
                            </font>
                        </option>
                        <option value="13">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Mme Marjolaine McKenzie</font>
                            </font>
                        </option>
                        <option value="14">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Eldora Cartwright III</font>
                            </font>
                        </option>
                        <option value="15">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Pr Karine West DDS</font>
                            </font>
                        </option>
                        <option value="16">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Prof. Lula Denesik</font>
                            </font>
                        </option>
                        <option value="17">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Richmond Mayert</font>
                            </font>
                        </option>
                        <option value="18">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ron Bailey</font>
                            </font>
                        </option>
                        <option value="19">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Mlle Laura Rau IV</font>
                            </font>
                        </option>
                        <option value="20">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Abigayle Brakus</font>
                            </font>
                        </option>
                        <option value="27">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">mamun</font>
                            </font>
                        </option>
                        <option value="29">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Vrai ami</font>
                            </font>
                        </option>
                        <option value="30">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Digitalindiaadd</font>
                            </font>
                        </option>
                        <option value="43">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">BR</font>
                            </font>
                        </option>
                        <option value="54">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">RAM</font>
                            </font>
                        </option>
                        <option value="55">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Awais Qurni</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="income_paymentType" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Type de paiement
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><select type="text" name="income_paymentType" id="income_paymentType"
                        class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionner le genre</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">En espèces</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Vérifier</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Commande de paiement</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="income_paymentAccount" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Compte de paiement
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><select type="text" name="income_paymentAccount" id="income_paymentAccount"
                        class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez un compte</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Utilitaire</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Un service</font>
                            </font>
                        </option>
                        <option>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Actuel</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label for="income_amount" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Montant
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="number" min="0" max="10000000" step="any" name="income_amount"
                        id="income_amount" placeholder="Montant" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="income_details" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Détails du revenu
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><textarea id="income_details" name="income_details" rows="5"
                        placeholder="Entrer ..." class="form-control"></textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4"><button type="button" class="btn btn-info">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">sauvegarder</font>
                        </font>
                    </button></div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</form>