<div class="card">
  <!-- Card header -->
  <div class="card-header border-0">
    <h3 class="mb-0">Expenses</h3>
  </div>
  <!-- Light table -->
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Date of payment</th>
          <th scope="col" class="sort" data-sort="budget">Source</th>
          <th scope="col" class="sort" data-sort="status">Type</th>
          <th scope="col">Account</th>
          <th scope="col" class="sort" data-sort="completion">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="list">
        <tr *ngFor="let s of expenses$">
          <td scope="col" class="sort" data-sort="name">
            {{ s.expense_paymentDate }}
          </td>
          <td scope="col" class="sort" data-sort="budget">
            {{ s.supplier_id.supplier_name }}
          </td>
          <td scope="col" class="sort" data-sort="status">
            {{ s.expense_paymentType }}
          </td>
          <td scope="col">{{ s.expense_paymentAccount }}</td>
          <td scope="col" class="sort" data-sort="completion">
            {{ s.expense_amount }}
          </td>

          <td>
            <!--<button type="button" (click)="edit(s.id)" data-toggle="modal" data-target="#editExpense"
              class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>-->
            <button
              type="button"
              (click)="delete(s.id)"
              class="btn btn-danger btn-sm"
              onClick="{deleteTask}"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th scope="col" class="sort" data-sort="name">Date of payment</th>
          <th scope="col" class="sort" data-sort="budget">Source</th>
          <th scope="col" class="sort" data-sort="status">Type</th>
          <th scope="col">Account</th>
          <th scope="col" class="sort" data-sort="completion">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </tfoot>
    </table>
    <button
      type="button"
      data-toggle="modal"
      data-target="#addExpense"
      class="btn btn-success btn-sm"
    >
      <i class="fas fa-plus-circle"></i> Create
    </button>

    <app-modal-expense></app-modal-expense>
  </div>
  <!-- Card footer -->
</div>
