<form class="form-horizontal" [formGroup]="clientForm">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group"><label for="customer_name" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Nom du client
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="text"
                        [ngClass]="{ 'is-invalid': submitted && f.customer_name.errors }"
                        formControlName="customer_name" name="customer_name" id="customer_name"
                        placeholder="Nom du client" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="customer_phone" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Téléphone client
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="tel"
                        [ngClass]="{ 'is-invalid': submitted && f.customer_phone.errors }"
                        formControlName="customer_phone" name="customer_phone" id="customer_phone"
                        placeholder="Téléphone client" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="customer_address" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Adresse du client
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><textarea id="customer_address"
                        [ngClass]="{ 'is-invalid': submitted && f.customer_address.errors }"
                        formControlName="customer_address" name="customer_address" rows="3" placeholder="Entrer ..."
                        class="form-control"></textarea></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group"><label for="customer_email" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Email client
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><input type="email"
                        [ngClass]="{ 'is-invalid': submitted && f.customer_email.errors }"
                        formControlName="customer_email" name="customer_email" id="customer_email"
                        placeholder="email client" class="form-control">
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="status_id" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Statut
                        </font>
                    </font><i aria-hidden="true" data-toggle="tooltip" data-placement="top" title=""
                        class="fa fa-asterisk text-danger require" data-original-title="Required"></i>
                </label>
                <div class="col-sm-8"><select type="text" id="status_id"
                        [ngClass]="{ 'is-invalid': submitted && f.status_id.errors }" formControlName="status_id"
                        name="status_id" class="form-control">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez le statut</font>
                            </font>
                        </option>
                        <option value="Inactif">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Inactif</font>
                            </font>
                        </option>
                        <option value="Active">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">actif</font>
                            </font>
                        </option>
                    </select>
                    <!---->
                </div>
            </div>
            <div class="form-group"><label for="customer_description" class="col-sm-4 control-label">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Détails du client
                        </font>
                    </font>
                </label>
                <div class="col-sm-8"><textarea id="customer_description"
                        [ngClass]="{ 'is-invalid': submitted && f.customer_description.errors }"
                        formControlName="customer_description" name="customer_description" rows="3"
                        placeholder="Entrer ..." class="form-control"></textarea></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <button (click)="add()" type="button" class="btn btn-info">
                    <i class="fas fa-save"></i>
                    Sauvegarder
                </button>
                <button (click)="reset()" type="button" class="btn btn-danger">
                    <i class="fas fa-times"></i>
                    Annuler
                </button>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
</form>